.gsc-search-button-v2 {
  padding: 6px 13px !important;
}

.gsib_a {
  padding: 3px 3px !important;
}

img {
  width: 100%;
  max-width: 700px;
  overflow: hidden;
}

img[title='closures-case-1-before'], img[title='closures-case-1-after'], img[title='closures-case-2'], img[title='closures-case-3-before'], img[title='closures-case-3-after'] {
  margin: auto;
  text-align: center;
  display: block;
}

img[title='Sreeram Padmanabhan'] {
  width: 150px;
  border: none;
  display: block;
  float: left;
  margin-right: 10px;
}

pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 80%;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  background: #f6f8fa;
  padding: 10px;
  border: dashed 1px #ccc;
  text-align: left;
}

code {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 80%;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  background: #f6f8fa;
  text-align: left;
}